*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background-image: url(./background.jpg);
        background-size: cover;
        background-position: center;
    
}

nav{

   
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 20px;
}
.div1{

    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 12px rgb(102, 101, 101);
}
ul li{

    display: inline-block;
    margin-right: 5px;
}

ul li a{

    text-decoration: none;
    font-weight:600;
    color: #111010;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;  
}

.div1 h6{
    margin-right: 200px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
.logo{

    width: 60px;
    height: 60px;
   
}

ul li a:hover{

    background-color: green;
    border-radius: 20px;
    
}

.heding{

    width: 600px;
   
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 20px 20px;
}

.pk2{

  
    background-image: linear-gradient(45deg,#0a7317,#30d738);
    border-radius: 20px;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-right-radius: 0;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 1s;
}

.heding h3{

    font-weight: 500;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.heding p{

    font-weight: 500;
    font-size: 20px;
}

.stb{
  
    position: absolute;
    box-shadow: 5px 5px 10px rgb(5, 80, 3);
    left: 70%;
    top:65%
    
   

}

.stb img{

    width: 350px;
   
}
.a{

        animation: ani1 1s linear forwards;
}
@keyframes ani1{

    from{
         opacity: 0;
         transform: translateY(30px);
    }to{
         opacity: 1;
         transform: translateY(0px);
    }
 }

 .pk2:hover{

    border-top-right-radius: 20px;
 }
 
 span{

    color: green ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 500;
     font-size: 50px;
 }

 .div1 ul li a i{

        font-size: 17px;
 }
 
 .info{
   
   
    margin-left :200px; 
    margin-top: 50px;
    margin-right:200px;
    padding: 30px;
    
 }

 .info h1{

    color: #026a45;
    font-size: 50px;
 }

 .info p{

    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
    
 }

 #set1{

    background-color: #E5EAE3;
    width: 99.80%;
    overflow: hidden;
    border: 2px solid black;
   
    margin-top: 50px;
   
 }

 .ctg1{
            display: flex;
            width: 99.80%;
            justify-content: space-evenly;
            padding: 80px 30px;
          
 }
 .txt1{
            border: 2px solid black ;
             padding-left: 30px;
             padding-top: 30px;
            width: 49.9%;

 }

 .txt1 h2{

    font-size: 40px;
 }

 .txt1 p{

    font-size: 15px;
 }

 .img1{

             border: 2px solid black ;
             width: 49.9%;
             position: relative;
 }

 .correct{

        width: 100%;
        display: flex;
       
}

.correct1{

    width: 50%;
    padding: 10px;
    border: 2px solid black ;
    
    
}
.txt1 h2{

        color: #D52730;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.txt1 p{

    font-size: 20px;
    font-weight: 500;
}

.correct1 p{

    font-weight: 800;
    padding-left: 0;
    font-size: 20px;
    color: #026a45;
}
.correct1 p i{

    font-size: 20px;
}
.correct2{

    
    width: 50%;
    padding: 10px;
    border: 2px solid rgb(131, 123, 123) ;
}

.a1{

    height: 500px;
    width: 500px;
    position: absolute;
    top: 90px;
    left: 140px;
    box-shadow: 5px 5px 10px rgb(228, 170, 170);
}


  @media (max-width:376px) {
    
    .div1{

       
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

    }

    .div1 ul{

        display: flex;
    }
    .div1 h6{

        margin-right: 2px;
        font-size: 10px;
        margin-right: 20px;
        margin-top: 5px;

    }

    .div1 img{

        height: 35px;
        width:35px;
    }

    .div1 ul li a{

        font-size: 10px;
      
    }

    .div1 ul li{

       margin-right: 0;
    }

    .container{

        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .heding{

        width: 190px;
        position: absolute;
        left: 150px;
        top: 150px;
    
    }

 .heding h3{
  
        font-size: 20px;
    
 }

 .heding span{

    font-size: 20px;
 }

 .heding p{

    font-size: 12px;
    width: 190px;
    
 }

 .heding a{

    font-size: 15px;
 }

 .stb{

    width: 190px;
    height: 150px;
    position: absolute;
    left: 170px;
   top: 75%;
 }

 .stb img{

    width: 100%;
 }

 .info{
   
   
    margin-left :0; 
    margin-top: 50px;
    margin-right:0;
    padding: 30px;
    
 }
 .ctg1{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  
}

.txt1{

    width: 99.80%;
    padding: 0;

}
#set1{

    width: 100%;

}

.txt1 h2{

    font-size: 30px;
    padding: 0 30px;
 }

 .txt1 p{

    font-size: 15px;
    width: 80%;
    padding: 0 30px;
 }


  }
